<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= task.id %>"  aria-expanded="true" aria-controls="collapseOne">
        <%= task.title %>
      </a>
    </h4>
  </div>
  <div id="<%= task.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <%= task.content %>

      <% user_task = user_task(current_user, task) %>

      <%= link_to user_task.status, user_task_path(user_task), method: :patch, class: "btn btn-primary pull-right" %>

      <button class="btn btn-primary pull-right" name="mytask" value="<%= task.id %>">Finished</button>
    </div>
  </div>
</div>
