<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#<%= task.id %>"  aria-expanded="true" aria-controls="collapseOne">
        <%= task.title %>
      </a>
    </h4>
  </div>
  <div id="<%= task.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <% user_task = user_task current_user.id, task.id %>
      <%= task.content %><%= link_to t(:finish), user_task_path(user_task, status: t(:completed)), 
                              method: :patch, remote: true, class: "user-task-status btn btn-primary" %>
    </div>
  </div>
</div>
