<span class="course_code">Course code: <%= course.course_code %></span>
<br>
<span class="name">Course name: <%= course.name %></span>
<br>
<span class="name">Session: <%= course.start_date %> - <%= course.end_date %></span>
<br>
<span class="timestamp">
  This course was created <%= time_ago_in_words course.created_at %> ago.
</span>
<br>
