<h1>Course information</h1>

<%= render @course %>

<%= link_to t(:edit_link), edit_supervisor_course_path %>

<%= link_to t(:delete_link), supervisor_course_path,
  	method: :delete, data: {confirm: t(:confirm_notification)} %>

<h3>List of subjects</h3>
<% @course.subjects.each do |s| %>
  <div class="row">
    <%= link_to s.name, supervisor_subject_path(s), class: "col-md-5" %>
  </div>
<% end %>

<h3>List of trainees</h3>
<% @course.users.each do |u| %>
  <div class="row">
    <%= link_to u.name, supervisor_user_path(u), class: "col-md-5" %>
  </div>
<% end %>
