<%= render @course %>
<%= link_to t(:edit_add_subjects_link), edit_supervisor_course_path %>

| <%= link_to t(:assign_trainees), supervisor_course_assign_trainees_path(@course) %>

| <%= link_to t(:delete_link), supervisor_course_path(@course),
      method: :delete, data: {confirm: t(:confirm_notification)} %>

<h3> List of subjects </h3>
<% @course.subjects.each do |subject| %>
<%= render subject %>
<% end %>

<h3> List of trainees </h3>
<% @course.users.each do |user| %>
  <p><%= user.name %></p>
<% end %>
