<% provide :title, @subject.name %>
<div class="panel panel-info">
  <div class="alert alert-info" role="alert"><span class="user">
    <h3><%= link_to @subject.name, @subject %></h3>
    <span class="timestamp">
      <%= link_to t(:delete_link), supervisor_subject_path, method: :delete,
                                  data: {confirm: t(:confirm_notification)} %>
      <%= link_to t(:edit_subject), edit_supervisor_subject_path(@subject) %>
    </span>
  </div>
  <span class="content">
    <%= @subject.instruction %>
  </span>
</div>
<%= render @subject.tasks %>
